* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 10px;
}

.body--hidden {
    overflow: hidden;
}

.main {
   margin: 40px 0; 
}


@media (min-width: 992px) {
    .container {
        padding: 0 120px;
    }

    .section {
        padding: 105px 0;
    }
}